.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #aaa;
  display: inline-block;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: var(--text-color);
  box-shadow: 0 0.3rem 4rem #00fff9;
}

.header .btn {
  margin-top: 0;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}

.logo i {
  color: var(--text-color);;
  padding-right: .5rem;
}

#menu-btn {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}


@media (max-width: 991px) {

  .header {
    padding: 1.5rem 2rem;
  }

}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #222;
    display: none;
  }
  .header .navbar.active {
    clip-path: none;
    display: grid;
    align-items: center;
    justify-items: center;
  }
  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }

}

