/* main home page start*/
.home {
  margin: 0 auto;
  /*margin-top: 9rem;*/
  width: 100%;
  height: 100vh;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url(../images/background.jpg) no-repeat;
  background:  url("https://kishan.vantageloaf.work/SYSTEM/IMPORT/SITE_DATA/IMG/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5rem;
}

.home .content {
  text-align: center;
}

.home .content span {
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 0.1rem #fff;
  font-size: 4vw;
  display: block;
  padding: -49.75em 0;
  background: #4880a1;
  margin-top: 10px;
}

.home .content h3 {
  font-size: 6vw;
  color: #fff;
  display: inline-block;
  padding: -49.75em 0;
  background: #4880a1;
  color: #ffffff;
}

.home .content p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

@media (max-width: 768px) {

  .home {
    margin-top: 10rem;
  }
  .home .content span {
    font-size: 8vw;
  }
  .home .content h3 {
    font-size: 9vw;
  }
}


/* main home page stop*/